@charset "UTF-8";
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Pretendard-Thin.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Thin.eot") format("embedded-opentype"), url("../fonts/Pretendard-Thin.woff2") format("woff2"), url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.ttf") format("truetype"), url("../fonts/Pretendard-Thin.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.ttf") format("truetype"), url("../fonts/Pretendard-ExtraLight.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Light.eot") format("embedded-opentype"), url("../fonts/Pretendard-Light.woff2") format("woff2"), url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.ttf") format("truetype"), url("../fonts/Pretendard-Light.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Regular.eot") format("embedded-opentype"), url("../fonts/Pretendard-Regular.woff2") format("woff2"), url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.ttf") format("truetype"), url("../fonts/Pretendard-Regular.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Medium.eot") format("embedded-opentype"), url("../fonts/Pretendard-Medium.woff2") format("woff2"), url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.ttf") format("truetype"), url("../fonts/Pretendard-Medium.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-SemiBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-SemiBold.woff2") format("woff2"), url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.ttf") format("truetype"), url("../fonts/Pretendard-SemiBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Bold.eot") format("embedded-opentype"), url("../fonts/Pretendard-Bold.woff2") format("woff2"), url("../fonts/Pretendard-Bold.woff") format("woff"), url("../fonts/Pretendard-Bold.ttf") format("truetype"), url("../fonts/Pretendard-Bold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.ttf") format("truetype"), url("../fonts/Pretendard-ExtraBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Black.eot") format("embedded-opentype"), url("../fonts/Pretendard-Black.woff2") format("woff2"), url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.ttf") format("truetype"), url("../fonts/Pretendard-Black.svg") format("svg");
  /* Legacy iOS */
}
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 150%;
  font-family: "pretendard", "Noto Sans", "sans-serif"; /* letter-spacing:-0.03em; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul, ol, li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

caption, legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input, select, textarea {
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
.wrapper {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

header {
  height: 86px;
  background: #2A5AD3;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .logo_nav_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .logo_nav_wrap .hd_logo {
  margin-right: 72px;
}
header .container .logo_nav_wrap nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .logo_nav_wrap nav ul li {
  margin-right: 16px;
}
header .container .logo_nav_wrap nav ul li a {
  font-weight: 500;
  font-size: 1.125em;
  color: #fff;
  padding: 13px 32px;
}
header .container .logo_nav_wrap nav ul li a.on {
  background: #fff;
  color: #2A5AD3;
  border-radius: 999px;
  font-weight: 600;
}
header .container .logo_nav_wrap nav ul li:hover a {
  background: #fff;
  color: #2A5AD3;
  border-radius: 999px;
  font-weight: 600;
}
header .container .util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .util .login_info_btn {
  width: 24px;
  height: 24px;
  background: url(../images/login_info.png);
  margin-right: 8px;
}
header .container .util a {
  color: #fff;
}
header .container .util .logout_btn {
  margin-left: 16px;
  height: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  opacity: 0.5;
}
header .container .util .logout_btn span {
  font-size: 0.875em;
  color: #fff;
  padding: 4px 10px;
}

input {
  outline: 0;
}

select {
  background: url(../images/arrow.png) no-repeat 97% center #FFFFFF;
  border: 1px solid #DBDBDB;
  outline: 0;
}

footer {
  height: 117px;
  background: #212E40;
}
footer .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .ft_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .ft_wrap .ft_logo {
  margin-right: 36px;
}
footer .container .ft_wrap .ft_logo img {
  opacity: 0.6;
}
footer .container .ft_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container .ft_wrap ul li {
  font-weight: 300;
  color: #fff;
  padding: 0 16px;
  font-size: 0.875em;
}
footer .container .ft_wrap ul li:last-child {
  color: #A1A7B4;
  position: relative;
}
footer .container .ft_wrap ul li:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #868B95;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
footer .container p {
  font-weight: 400;
  font-size: 0.875em;
  color: #FFFFFF;
}

select {
  padding: 0 16px;
  max-width: 380px;
  height: 36px;
  font-weight: 400;
  font-size: 1em;
  color: #484B51;
  width: 68%;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}

input {
  padding: 0 16px;
  height: 36px;
  font-weight: 400;
  font-size: 1em;
  color: #484B51;
  width: 68%;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}
input::-webkit-input-placeholder {
  color: #A1A7B4;
}
input::-moz-placeholder {
  color: #A1A7B4;
}
input:-ms-input-placeholder {
  color: #A1A7B4;
}
input::-ms-input-placeholder {
  color: #A1A7B4;
}
input::placeholder {
  color: #A1A7B4;
}

textarea {
  resize: none;
  padding: 8px 16px;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  outline: 0;
  overflow: auto;
  font-size: 1em;
  color: #37393F;
  line-height: 150%;
}

b, span {
  line-height: 150%;
}

.main_wrapper {
  width: 100%;
  height: 100vh;
  background: url(../images/main_bg.png) no-repeat bottom #212E40;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding-bottom: 32px;
}

.login {
  width: 612px;
  background: #fff;
  border-radius: 16px;
}
.login h2 {
  font-weight: 500;
  font-size: 2.5em;
  padding: 48px 0 32px;
  text-align: center;
  line-height: 150%;
}
.login .loginform_wrap {
  margin: auto;
  width: 400px;
}
.login .loginform_wrap form {
  position: relative;
  margin-bottom: 16px;
}
.login .loginform_wrap form input {
  margin: auto;
  width: 100%;
  padding: 16px 32px;
}
.login .loginform_wrap form input[type=text], .login .loginform_wrap form input[type=password] {
  height: 59px;
  border: 1px solid #DBDBDB;
  border-radius: 999px;
  font-size: 1.125em;
  font-weight: 500;
  color: #484B51;
}
.login .loginform_wrap form input[type=text]:focus, .login .loginform_wrap form input[type=password]:focus {
  border: 1px solid #2A5AD3;
  outline: 0;
}
.login .loginform_wrap form input[type=text]::-webkit-input-placeholder, .login .loginform_wrap form input[type=password]::-webkit-input-placeholder {
  color: #A1A7B4;
}
.login .loginform_wrap form input[type=text]::-moz-placeholder, .login .loginform_wrap form input[type=password]::-moz-placeholder {
  color: #A1A7B4;
}
.login .loginform_wrap form input[type=text]:-ms-input-placeholder, .login .loginform_wrap form input[type=password]:-ms-input-placeholder {
  color: #A1A7B4;
}
.login .loginform_wrap form input[type=text]::-ms-input-placeholder, .login .loginform_wrap form input[type=password]::-ms-input-placeholder {
  color: #A1A7B4;
}
.login .loginform_wrap form input[type=text]::placeholder, .login .loginform_wrap form input[type=password]::placeholder {
  color: #A1A7B4;
}
.login .loginform_wrap form.checkbox_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login .loginform_wrap form.checkbox_form input {
  margin: 0 5px 0 8px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-image: url("../images/chk_off.png");
  background-size: 100%;
}
.login .loginform_wrap form.checkbox_form input:checked {
  background-image: url("../images/chk_on.png");
}
.login .loginform_wrap form .id_box:not(:valid) ~ .reset_icon {
  display: none;
}
.login .loginform_wrap form .pw_box:not(:valid) ~ .reset_icon {
  display: none;
}
.login .loginform_wrap form button.reset_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 1;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  padding: 2px;
  background: url(../images/reset_btn.png) no-repeat;
  cursor: pointer;
  border-radius: 50%;
}
.login .loginform_wrap .login_btn {
  width: 100%;
  height: 52px;
  background: #2A5AD3;
  border-radius: 999px;
  margin-bottom: 64px;
}
.login .loginform_wrap .login_btn span {
  color: #fff;
  font-weight: 500;
}

.contents .container {
  margin-bottom: 80px;
}
.contents .container h2 {
  padding: 48px 0 24px;
  font-weight: 600;
  font-size: 1.75em;
  color: #37393F;
}
.contents .container h3 {
  padding: 24px 0 25px;
  color: #37393F;
  font-weight: 500;
  font-size: 1.5em;
}
.contents .container .input_wrap {
  background: #F9F9F9;
  border: 1px solid #DBDBDB;
  padding: 34px 48px 40px;
  margin-bottom: 48px;
}
.contents .container .input_wrap > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}
.contents .container .input_wrap > ul > li:last-child {
  padding-bottom: 0;
}
.contents .container .input_wrap > ul > li > label,
.contents .container .input_wrap > ul > li > span {
  min-width: 83px;
  font-weight: 500;
  font-size: 1.125em;
  margin-right: 40px;
}
.contents .container .input_wrap > ul > li select {
  padding: 0 16px;
  max-width: 380px;
  height: 36px;
  font-weight: 400;
  font-size: 1em;
  color: #484B51;
  width: 68%;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}
.contents .container .input_wrap > ul > li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 107px);
}
.contents .container .input_wrap > ul > li ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
}
.contents .container .input_wrap > ul > li ul li input {
  padding: 0;
}
.contents .container .input_wrap > ul > li ul li label {
  margin: 0 8px;
}
.contents .container .input_wrap > ul > li ul li button {
  padding: 6px 16px;
  color: #484B51;
  border: 1px solid #DBDBDB;
  border-radius: 999px;
  background: #fff;
}
.contents .container .input_wrap > ul > li ul li button.active {
  color: #2A5AD3;
  border: 1px solid #2A5AD3;
}
.contents .container .input_wrap > ul > li ul li button:hover {
  color: #2A5AD3;
  border: 1px solid #2A5AD3;
}
.contents .container .input_wrap > ul > li ul li input[type=radio] {
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #DBDBDB;
}
.contents .container .input_wrap > ul > li ul li input[type=radio]:checked {
  border: 7px solid #2A5AD3;
}
.contents .container .input_wrap > ul > li ul li input[type=date] {
  width: 151px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid #DBDBDB;
  padding: 6px 16px;
  font-size: 1em;
  color: #484B51;
  position: relative;
}
.contents .container .input_wrap > ul > li ul li input[type=date]::-webkit-clear-button, .contents .container .input_wrap > ul > li ul li input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.contents .container .input_wrap > ul > li ul li input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}
.contents .container .input_wrap > ul > li ul li input[type=date]::after {
  position: absolute;
  top: 50%;
  right: 16px;
  content: "";
  width: 20px;
  height: 22px;
  background: url(../images/calendar_ico.png) center center/contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}
.contents .container .input_wrap > ul > li ul li span {
  padding: 0 8px;
}
.contents .container .input_wrap .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}
.contents .container .input_wrap .btn_wrap button {
  width: 112px;
  height: 44px;
  border-radius: 4px;
}
.contents .container .input_wrap .btn_wrap button span {
  font-weight: 500;
}
.contents .container .input_wrap .btn_wrap button.reset_btn {
  background: #fff;
  border: 1px solid #2A5AD3;
}
.contents .container .input_wrap .btn_wrap button.reset_btn span {
  color: #2A5AD3;
}
.contents .container .input_wrap .btn_wrap button.inquiry_btn, .contents .container .input_wrap .btn_wrap button.register_btn {
  background: #2A5AD3;
}
.contents .container .input_wrap .btn_wrap button.inquiry_btn span, .contents .container .input_wrap .btn_wrap button.register_btn span {
  color: #fff;
}
.contents .container .input_wrap .btn_wrap button.cancel_btn {
  background: #fff;
  border: 1px solid #C0C3C8;
}
.contents .container .input_wrap .btn_wrap button.cancel_btn span {
  color: #484B51;
}
.contents .container .list_wrap {
  position: relative;
}
.contents .container .list_wrap .list_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contents .container .list_wrap .list_top span {
  color: #2A5AD3;
}
.contents .container .list_wrap .list_top span b {
  color: #37393F;
}
.contents .container .list_wrap .list_top select {
  border-radius: 4px;
  padding: 6px 44px 6px 16px;
  background-position: 96% 50%;
  font-size: 1em;
}
.contents .container .list_wrap table {
  border-collapse: collapse;
  margin: 16px 0 24px;
  border-bottom: 2px solid #DBDBDB;
}
.contents .container .list_wrap table input[type=checkbox] {
  margin: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  background: url(../images/list_chk_off.png);
  background-size: 100%;
}
.contents .container .list_wrap table input[type=checkbox]:checked {
  background: url(../images/list_chk_on.png);
  background-size: 100%;
}
.contents .container .list_wrap table thead {
  background: #EAEAEA;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 1px #EAEAEA;
          box-shadow: 0 0 0 1px #EAEAEA;
  border-radius: 4px;
}
.contents .container .list_wrap table thead tr {
  height: 59px;
}
.contents .container .list_wrap table thead tr th {
  vertical-align: middle;
  font-weight: 500;
  font-size: 1.125em;
  color: #37393F;
}
.contents .container .list_wrap table thead tr th input {
  margin: auto;
}
.contents .container .list_wrap table tbody tr {
  height: 56px;
  border-bottom: 1px solid #EAEAEA;
}
.contents .container .list_wrap table tbody tr:hover {
  background: rgba(234, 234, 234, 0.1882352941);
}
.contents .container .list_wrap table tbody tr td {
  vertical-align: middle;
  text-align: center;
}
.contents .container .list_wrap table tbody tr td:nth-child(3), .contents .container .list_wrap table tbody tr td:nth-child(4) {
  text-align: left;
  padding-left: 1%;
}
.contents .container .list_wrap table tbody tr.selected {
  background: rgba(234, 234, 234, 0.1882352941);
}
.contents .container .list_wrap .pagination_wrap .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
}
.contents .container .list_wrap .pagination_wrap .pagination > a {
  width: 20px;
  height: 20px;
  display: inline-block;
  min-width: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contents .container .list_wrap .pagination_wrap .pagination > a.first_page {
  background: url(../images/btn_first_page.png) no-repeat center center/contain;
  margin-right: 16px;
}
.contents .container .list_wrap .pagination_wrap .pagination > a.prev_page {
  background: url(../images/btn_prev_page.png) no-repeat center center/contain;
  margin-right: 46px;
}
.contents .container .list_wrap .pagination_wrap .pagination > a.next_page {
  background: url(../images/btn_next_page.png) no-repeat center center/contain;
  margin-left: 46px;
}
.contents .container .list_wrap .pagination_wrap .pagination > a.last_page {
  background: url(../images/btn_last_page.png) no-repeat center center/contain;
  margin-left: 16px;
}
.contents .container .list_wrap .pagination_wrap .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contents .container .list_wrap .pagination_wrap .pagination ul > li {
  margin-right: 20px;
}
.contents .container .list_wrap .pagination_wrap .pagination ul > li:last-child {
  margin-right: 0;
}
.contents .container .list_wrap .pagination_wrap .pagination ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #868B95;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125em;
  position: relative;
}
.contents .container .list_wrap .pagination_wrap .pagination ul > li a.active {
  font-weight: 500;
  color: #2A5AD3;
}
.contents .container .list_wrap .pagination_wrap .pagination ul > li a.active:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 24px;
  background: #2A5AD3;
  bottom: 0;
}
.contents .container .list_wrap .pagination_wrap .pagination ul > li a:last-child {
  margin-right: 0;
}
.contents .container .list_wrap .best_btn {
  position: absolute;
  bottom: -1%;
  right: 0;
  width: 151px;
  height: 44px;
  background: #2A5AD3;
  border-radius: 4px;
}
.contents .container .list_wrap .best_btn span {
  color: #fff;
  font-weight: 500;
}
.contents .container .list_wrap.ebs_intro_list table tbody tr td, .contents .container .list_wrap.ebs_sns_list table tbody tr td {
  padding-left: 0%;
  text-align: center;
}
.contents .container .list_wrap.ebs_intro_list table tbody tr td:nth-child(3), .contents .container .list_wrap.ebs_intro_list table tbody tr td:nth-child(2), .contents .container .list_wrap.ebs_sns_list table tbody tr td:nth-child(3), .contents .container .list_wrap.ebs_sns_list table tbody tr td:nth-child(2) {
  text-align: left;
  padding-left: 1%;
}
.contents .container .list_wrap.ebs_intro_list table tbody tr td ul, .contents .container .list_wrap.ebs_sns_list table tbody tr td ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.contents .container .list_wrap.ebs_intro_list table tbody tr td ul li, .contents .container .list_wrap.ebs_sns_list table tbody tr td ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.detail_info {
  padding-bottom: 80px;
}
.detail_info h3 {
  padding: 24px 0;
  font-weight: 500;
  font-size: 1.5em;
}
.detail_info table {
  border-top: 2px solid #DBDBDB;
  border-bottom: 2px solid #DBDBDB;
}
.detail_info table tbody {
  text-align: left;
}
.detail_info table tbody tr {
  border-bottom: 1px solid #EAEAEA;
}
.detail_info table tbody tr th {
  background: #F9F9F9;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 1.125em;
  vertical-align: middle;
}
.detail_info table tbody tr td {
  padding: 16px 24px;
  vertical-align: middle;
}
.detail_info table tbody tr td.best_y {
  color: #2A5AD3;
}
.detail_info table tbody tr td figure {
  width: 300px;
  height: 200px;
  background: #EAEAEA;
  position: relative;
}
.detail_info table tbody tr td figure button.play_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.detail_info .btn_wrap {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detail_info .btn_wrap button {
  height: 44px;
  width: 112px;
  background: #fff;
  border: 1px solid #C0C3C8;
  border-radius: 4px;
}
.detail_info .btn_wrap button span {
  font-weight: 500;
}
.detail_info .btn_wrap button.select_btn {
  width: 151px;
  background: #2A5AD3;
  border: none;
}
.detail_info .btn_wrap button.select_btn span {
  color: #fff;
}
.detail_info .btn_wrap .btn_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.detail_info .btn_wrap .btn_left button {
  width: 135px;
}
.detail_info .btn_wrap .btn_left button.update_btn {
  border: 1px solid #2A5AD3;
}
.detail_info .btn_wrap .btn_left button.update_btn span {
  color: #2A5AD3;
}
.detail_info.embassy_regi table tbody tr:nth-child(1) td, .detail_info.embassy_regi table tbody tr:nth-child(2) td {
  padding: 12px 24px;
}
.detail_info.embassy_regi table tbody tr td .figure_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.detail_info.embassy_regi table tbody tr td figure {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  position: relative;
}
.detail_info.embassy_regi table tbody tr td figure img {
  width: 100%;
  height: 100%;
}
.detail_info.embassy_regi table tbody tr td figure button.plus_img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.detail_info.embassy_regi table tbody tr td figure button.remove_btn {
  position: absolute;
  right: 4px;
  top: 4px;
}
.detail_info.embassy_regi table tbody tr td input {
  max-width: 380px;
}
.detail_info.embassy_regi table tbody tr td textarea {
  height: 232px;
}
.detail_info.embassy_regi .btn_wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.detail_info.embassy_regi .btn_wrap button {
  border: 1px solid #C0C3C8;
}
.detail_info.embassy_regi .btn_wrap button.register_btn {
  background: #2A5AD3;
  border: none;
}
.detail_info.embassy_regi .btn_wrap button.register_btn span {
  color: #fff;
}

.input_wrap ul li .input_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 123px);
  margin-left: auto;
  margin-bottom: 8px;
}
.input_wrap ul li .input_box:last-child {
  margin-bottom: 0;
}
.input_wrap ul li .input_box input {
  height: 36px;
  font-weight: 400;
  font-size: 1em;
  color: #484B51;
  width: calc(100% - 44px);
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}
.input_wrap ul li .input_box input:focus {
  border: 1px solid #2A5AD3;
}
.input_wrap ul li .input_box button {
  margin-left: 16px;
  width: 28px;
  height: 28px;
}
.input_wrap ul li .input_box button.plus_btn {
  background: url(../images/plus_btn.png) no-repeat;
  background-size: 100%;
}
.input_wrap ul li .input_box button.minus_btn {
  background: url(../images/minus_btn.png) no-repeat;
  background-size: 100%;
}

.contents .container .input_wrap.ebs_sns_regi > ul > li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img_modal {
  display: none;
  z-index: 10;
  position: absolute;
  top: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1200px;
  height: 834px;
  background: #fff;
}
.img_modal .close {
  position: absolute;
  right: 32px;
  top: 32px;
}
.img_modal figure {
  width: 962px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dim {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}